:root {
  --color-base: rgba(0, 0, 0, .65);

  --sidebar-bg: #001529;
  --sidebar-logo-bg: #002140;
  --sidebar-menu-bg: #001529;
  --sidebar-menu-text: hsla(0,0%,100%,.65);
  --sidebar-menu-item-selected-bg: #1890ff;
  --sidebar-menu-item-selected-text: #fff;
  --sidebar-menu-sub-bg: #000C14;
  --sidebar-open-width: 256px;
  --sidebar-close-width: 80px;

  --header-height: 64px;

  --size-base: 10px;
  --font-size: calc(var(--size-base) * 1.6);
  --font-size-h1: calc(var(--size-base) * 3.2);
  --font-size-h2: calc(var(--size-base) * 2.6);
  --font-size-h3: calc(var(--size-base) * 2.2);
  --font-size-h4: calc(var(--size-base) * 2);
  --font-size-h5: calc(var(--size-base) * 1.8);
  --font-size-h6: calc(var(--size-base) * 1.6);

  --zindex-1: 1;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
}