*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size:.14rem;
}
html,body,.box{
	width: 100%;
	height: 100%;
}
a{
	color: #000;
	text-decoration: none;
}
ul,li,ol{
	list-style: none;
}
html{
	font-size:625%;    
}

%qjz{
	display: flex;
	justify-content: center;
	align-items: center;
}
%slh{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
	overflow: hidden;
	word-break:break-all;
}
.box{
	display:flex;
	flex-direction:column;
}
header{
	width:100%;
	height:.4rem;
	background:red;
}
footer{
	width:100%;
	height:.4rem;
	background:blue;
}
section{
	width:100%;
	flex:1;
	overflow-y:scroll;
}